<div class="login-signup-wrapper">
  <div class="sidebar-image">
  <img src="../../assets/img/login-sidebar.jpg" alt="">
  </div>
  <div class="login-signup-wrap-content">
    <div class="login-signup-wrap-content-wrap">
    <h1>Reset Password</h1>
    <div class="custom-input-wrap">
      <label>Password</label>
      <input type="text" class="custom-input" placeholder="Type">
    </div>
    <div class="custom-input-wrap">
      <label>New Password</label>
      <input type="Password" class="custom-input" placeholder="New Password">
    </div>
    <div class="forget-link">
      <a href="forget-passwrd.html" class="grey-btn">Forget Password?</a>
    </div>
    <div class="form-group">
      <input type="checkbox" id="html">
      <label for="html">Remember Me</label>
    </div>
    <div class="submit-btn">
      <a href="login.html" class="custom-btn"><span>Change</span></a>
    </div>
    </div>
  </div>
</div>
