
  <div class="login-signup-wrapper">
    <div class="sidebar-image">
    <img src="../../assets/img/login-sidebar.jpg" alt="">
    </div>
    <div class="login-signup-wrap-content">
      <div class="login-signup-wrap-content-wrap">
      <h1>Forgot your password?</h1>
      <p>Confirm your email and we'll send you instructions.</p>
      <div class="custom-input-wrap">
        <label>Email</label>
        <input type="text" class="custom-input" placeholder="Type">
      </div>
      
      <div class="submit-btn">
        <a href="login.html" class="custom-btn"><span>Reset Password</span></a>
      </div>
      </div>
    </div>
  </div>